<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Recherche de communes</title>
</head>
<body>
   <h1>Recherche de communes</h1>
   <form action="/result" method="POST">
      <label>Code postal :
         <input type="text" name="postalCode" required>
      </label>
      <button type="submit">Rechercher</button>
   </form>
</body>
</html>
